* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 45px;
}

.banner-image {
    width: 100%;
    min-height: fit-content;
}

.banner {
    position: relative;
}

.banner-text-block {
    position: absolute;
    width: 100%;
    top:40%;
}

.banner-text{
    color: aliceblue;
    text-shadow: 5px 5px 10px #000;
    text-align: center;
}

.box-image {
    height: 200px;
    width: 100%;
}

.block {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    text-align: center;
    margin: 0 auto;
}

.box-text {
    font-size: 28px;
}